body {
    font-family: sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
    font-family: 'test';
    src: url('DoHyeon-Regular.ttf') format('truetype');
}

h2 {
    color: #00a2c6;
}

h3 {
    color: #00a2c6;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}

p {
    font-family: "test" ;
    /* font-family: 'Roboto Mono', monospace; */
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
}

.profile header{
    text-align: center;
}

footer{
    padding: 20px;
    color:white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}